{% load static %}<!doctype html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'node_modules/systematize/build/systematize.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/systematize/build/addons.min.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <article>{% block content %}{% endblock %}</article>
        </div>
        <script src="{% static 'node_modules/balkans/client/build/balkans.js' %}"></script>
        <script>
            const BALKANS_WEB_WORKERS = "{% static 'node_modules/balkans/client/build/web_workers.js' %}"
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
